<h1>State Representitives For Colorado</h1>

<h2>There are <%= @reps.count %> results</h2>

<ul>
  <% @reps.each do |rep, i| %>
    <li class="rep">
      name: <%= rep.name %><br>
      role: <%= rep.role %><br>
      party affiliation: <%= rep.party %><br>
      district: <%= rep.district %><br>
    </li>
  <% end %>
</ul>
